<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Final Project</title>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
</head>
<style>
	ul {
    	list-style-type: none;
    	margin: 0;
		padding: 0;
	}

	li {
    	display: inline;
	}
</style>
<body>
	<ul>
  		<li><a href="/">Home</a></li>
  		<li><a href="/alphabet">Alphabetical Courses</a></li>
  		<li><a href="/easy">Easiest to Hardest</a></li>
  		<li><a href="/professors">CS Professors</a></li>
  		<li><a href="/random">Random</a></li>
	</ul>

	<h1> {{{body}}}</h1>
</body>
</html>

