<h1>Add Grade</h1>
<article>
    <form method="POST" action="/api/{{id}}/addGrades">
        <div class="input-field">
            <label>Number Grade</label>
            <input type="text" name="numberGrade" size = "50" placeholder="Number Grade">
        </div>
        <div class="input-field">
            <label>Professor</label>
            <input type="text" name="professor" size="50" placeholder="Professor">
        </div>
        <button type="submit">Add Grade</button>
    </form>
</article>