<h1> Average Grade: {{average}} </h1>
<p> Review:{{review}} </p>
<a href="/{{id}}/addGrades" class="btn btn-info" role="button">Add Grade</a>
<a href="/{{id}}/review" class="btn btn-info" role="button">Add Review</a>